body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.admin-page-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.admin-sidebar {
    height: 100%;
    overflow-y: auto;
    background-color: #f8f9fa; /* Light gray background */
    color: black;
    padding-top: 20px;
    width: 200px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.admin-sidebar .admin-nav-link {
    color: #000000 !important;
    margin: 5px 0;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.admin-sidebar .admin-nav-link:hover {
    background-color: #e0e0e0;
}

.admin-sidebar .admin-nav-link.selected {
    background-color: #007bff; /* Highlight color */
    color: #ffffff !important;
}

.admin-main-content {
    margin-left: 220px; /* Adjusted margin to align with sidebar width */
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.admin-table {
    margin-top: 20px;
}

.admin-button-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.admin-modal-header, .admin-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-modal-header .admin-btn-close {
    padding: 0;
    margin: 0;
}

.admin-button {
    cursor: pointer;
}

.admin-button:hover {
    background-color: #495057;
}

.admin-h1 {
    font-size: 2.5em;
}

.admin-section-title {
    font-size: 1.5em;
}

.admin-table-container {
    overflow-x: auto;
}
